html,body{
	width:100vw;
	height:100vh;
	background:#111;
	padding: 0px;
	margin: 0px;
	color: white;
	cursor: default;
}

select{
	text-align: center !important;
	display: inline !important;
	background-color: transparent !important;
	border: none !important;
}

select:focus{
	outline: none !important;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus{
	background-color: transparent !important;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

.container{
	width:100vw;
	height:100vh;
	padding: 0px;
	margin: 0px;
	background: transparent;
	z-index: 2;
}

.active{
	font-weight: bold;
}

canvas{
	display:block;
	vertical-align:bottom;
}

.header_height{
	height: 10%;
	width: 100%;
	border-bottom: 1px solid #34495e;
	-webkit-app-region: drag;
}

.header_col_height{
	height: 100%;
	font-size: 2em;
	font-family:'Seaweed Script';
	color: #3498db;
	text-align: center;
}

.settings_icon{
	color: #34495e;
	transition: transform .8s ease-in-out;
	cursor: default;
}

.settings_header{
	padding-top: 2px !important;
	padding-left: 48px !important;
	cursor: pointer;
}

.settings_icon:hover{
	transform: rotate(180deg)
}

.currency{
	height: 11%;
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
	border-bottom: 0.5px solid #34495e;
}

.abr{
	height: 100%;
	font-size: 1em;
	padding-top: 3px !important;
}

.circle{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: inline-block;
}

.money{
	font-size: 1.5em;
}

.pos{
	color: rgba(39, 174, 96,1.0);
}

.neg{
	color: rgba(192, 57, 43,1.0);
}

.cLine{
	padding-left: 8px;
}

.btcColor{
	background: rgba(230, 126, 34,1.0);
}

.ethColor{
	background: rgba(41, 128, 185,1.0);
}

.ltcColor{
	background: rgba(236, 240, 241,1.0);
}

.zecColor{
	background: rgba(241, 196, 15,1.0);
}

.xmrColor{
	background: rgba(155, 89, 182,1.0);
}

.dashColor{
	background: rgba(46, 204, 113,1.0);
}

.footerLink{
	font-size: 1.5em;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.settings_total{
	font-size: 1.5em;
}

.settings_curr{
	font-size: 1.5em;
	color: rgba(52, 73, 94,1.0);
	cursor: pointer;
}

.settings_curr:hover{
	color: rgba(236, 240, 241,1.0);
}

.settings_row{
	padding-bottom: 9px;
	border-bottom: 1px solid rgba(52, 73, 94,1.0);
}

.settings_text{
	display: inline;
}

.settings_coin{
	font-size: 1.5em;
}

.settings_change{
	font-size: 0.95em;
}

.change_column{
	padding-top: 3px !important;
	padding-left: 0px !important;
}

.settings_circle{
	padding-top: 3px !important;
	padding-right: 35px !important;
}

.curr_column{
	height: 19px;
	border-bottom: 1px solid white;
}

.coin_column{
	padding-left: 0px !important;
}

.save_button{
	width: 100%;
	height: 65px;
	background-color: transparent;
	border: 0.5px solid rgba(52, 73, 94,1.0);
	color: rgba(52, 73, 94,1.0);
	font-size: 2.5em;
}

.cancel_button{
	width: 100%;
	height: 65px;
	background-color: transparent;
	border: 0.5px solid rgba(52, 73, 94,1.0);
	color: rgba(52, 73, 94,1.0);
	font-size: 2.5em;
}

.cancel_button:hover{
	color: rgba(236, 240, 241,1.0);
	border-color: rgba(236, 240, 241,1.0);
}

.save_button:hover{
	color: rgba(236, 240, 241,1.0);
	border-color: rgba(236, 240, 241,1.0);
}

.input_cur_row{
	margin-bottom: 30px;
}

.port_cur_row{
	margin-bottom: 5px !important;
}

.port_circle{
	margin-left: 37px !important;
}

.donut_graph{
	height: 250px;
	width: 100%;
}

.donut-chart{
	 width: 204px;
	 height: 204px;
	 margin: 20px;
	 padding-left: 28px;
 }

 .edit_link{
	 position:relative;
	 overflow:hidden;
	 text-align:center !important;
	 margin:0 0 1em;
	 line-height:2em;
	 padding:0;
	 font-size: 1.7em;
	 color: rgba(52, 73, 94,1.0);
	 cursor: pointer;
 }

 .edit_link:hover{
	 color: rgba(236, 240, 241,1.0);
 }

.edit_link:before,.edit_link:after {
    content:" ";
    position:absolute;
    top:50%;
    margin-left:-999em;
    height:2px;
    width:998em;
    border-top:1px solid #3498db;
    background:rgba(0,0,0,0.2);
}
.edit_link:after {
    left:auto;
    width:999em;
    margin:0 0 0 1em;
}

.donut_inner_total{
	position: absolute;
	width: 100%;
	top: 145px;
	text-align: center;
	font-size: 2em;
}

.donut_inner_up{
	position: absolute;
	width: 100%;
	top: 170px;
	text-align: center;
	font-size: 1.2em;
}

.port_text{
	font-size: 1.5em;
}

.add_button{
	width: 100%;
	background-color: transparent;
	border: 0.5px solid rgba(52, 73, 94,1.0);
	color: rgba(52, 73, 94,1.0);
	font-size: 2.5em;
}

.backPos{
	background-color: rgba(46, 204, 113,0.3);
}

.backNeg{
	background-color: rgba(231, 76, 60,0.3);
}

#btc_input{
	display: inline;
	height: 17px;
	text-align: right;
	width: 100%;
	border: none !important;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#btc_input:focus{
	border: none !important;
	box-shadow: none !important;
}

#myChart{
	height: 40px !important;
	width: 110px !important;
}

/* ---- particles.js container ---- */

#particles-js{
	position: absolute;
  width: 100%;
  height: 90%;
	z-index: 1;
}

.settings_title{
	padding-left: 22px;
	font-size: 2em;
}

.settings_body{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-left: 0px !important;
}

.settings_button_test{
	background-color: transparent;
	border: 0.5px solid rgba(52, 73, 94,1.0);
	color: #3498db;
	font-size: 1.5em;
}

.settings_value_input{
	text-align: center;
	border-bottom: none !important;
}

.settings_value_input:focus{
	box-shadow: none !important;
	border-bottom: none !important;
}

.settings_row_margin{
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.settings_row_border{
	border-bottom: 1px solid white;
}

.select_coin{
	height: 37px;
}

.display_notifications{
	font-size: 1.5em;
}

.alert_text{
	cursor: pointer;
}

.alert_text:hover{
	color: rgba(231, 76, 60,1.0);
}
